

body{
    width: 100vw;
    /* overflow-x: hidden; */
    height: auto;
}

.home{
    display: flex;
    flex-direction: row;
}

.img-l{
    height: 100%;
    width: 28.57%;
}
.end{
    width: 24.537rem;
    margin-top: 22.188rem;
}

.contain_1{
    width: 42.86%;
}
.bn_img--top{
    padding: 0px 4.375rem;
}
.bn_img{
    margin:auto;
    width: 32.363rem;
}


.img-r{
    height: 100%;
    width: 28.57%;
}
.img-r-contain{
    display: grid;
    margin-top: 11.125rem;
}
.img-r__img{
    height: 100%;
    width: 100%;
}

.banner_th{
    position: absolute;
    width: 12rem;
    height: 8rem;
    left: 7rem;
}


.banner_img{
    display: flex;
    flex-direction: column;
    margin: auto;
    /* position: absolute; */
    width: 38.75rem;
    /* left: 40rem; */
    /* padding: 25px 650px; */
}

.contain_2{
    display: flex;
    flex-direction: column;
    justify-content: end;
    margin: 2.5rem auto auto auto;
    padding: 1.25rem;
    background-color: #FFFFFF;
    width: fit-content;
    border-radius: 2.5rem;
}



.center{
    font-family: 'DINRoundOT-B';
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.688rem;
    text-align: center;
    color: #285929;
    opacity: 0.8;
}
.box_text{
    font-family: 'DINRoundOT-B';
    font-size: 2.5rem !important;
    line-height: 3.393rem;
    align-items: center;
    text-align: center;
    color: #178518;
    text-shadow: 0px 0.75rem 2.5rem rgba(0, 0, 0, 0.25);
}
.box_f1{
    display: flex;
    margin-top: 2rem;
}
.box_fsel{
    
    font-family: 'DINRoundOT-B';
    font-size: 2rem !important;
    font-weight: 700;
    line-height: 4.375rem;
    text-align: center;

    color: #285929;
    opacity: 0.8;
    width: 50%;

    margin: 0 1.25rem;
    border-radius: 1.5rem;
}

.spin_btn{
    padding-top: 2.5rem;
    padding-left: 13.75rem;
}

.sp_int{
    font-family: 'DINRoundOT-B';
    font-size: 1.75rem;
    line-height: 2.375rem;
    text-align: center;
    color: #FFFFFF;
    position: absolute;
    left: calc(50% - 8.88rem);
    width: 17.76rem;
    height: 5rem;
    background: #DB320D;
    box-shadow: 0px 0.75rem 1.875rem rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
    border: 2px solid #df5435;
}


.sp_int:hover{
    background-color: #df5435;
}
.box_sl{
    padding: 1.25rem;
    margin-top: 0.625rem;
    font-family: 'DINRoundOT-B';
    font-size: 2rem !important;
    font-weight: 700;
    line-height: 4.375rem;
    text-align: center;
    text-transform: uppercase;
    color: #285929;
    opacity: 0.8;
    border: 1px solid #285929;
    box-sizing: border-box;
    filter: drop-shadow(0px 0.75rem 1.875rem rgba(0, 0, 0, 0.1));
    border-radius: 24px;
}





/* IMG - DONE */




/* MODAL */
.bgModal{
    background-color: rgba(77, 77, 77, 0.78);
    height: 100%;
    width:100%;
    position: absolute;
    display: none;
    top:0;
    left:0;
}
.modal{
    position:relative;
    z-index: 2;
    width: 45rem;
    height: 52.25rem;
    margin: auto;
    /* display: none; */
    
}
.text-modal{
    position: absolute;
    padding: 0.938rem;
    top: 6%;
    z-index: 1;
    left: 20%;
    padding: 1.25rem;
    /*  */
    font-family: 'DINRoundOT';
    font-size: 2rem !important;
    font-weight: bolder;
    line-height: 2.688rem;
    display: flex;
    text-transform: uppercase;
    color: #FFFFFF;
    /*  */
    background: #285929;
    box-shadow: 0px 0.75rem 1.875rem rgba(0, 0, 0, 0.1);
    border-radius: 1.5rem;
}
.modal-container{
    position: absolute;
    width: 45rem;
    height: 47.188rem;
    bottom: 0%;
    left: 6%;
    /* Linear (3 paints) */

    background: linear-gradient(270.91deg, rgba(148, 205, 202, 0.25) 1.28%, rgba(208, 230, 213, 0.25) 99.73%), #FFFFFF;
    border-radius: 24px;
}

.modal-container .modal-svg{
    border-radius: 24px;
}
.modal-img__1{
    position: absolute;
    top: 9%;
    left: 7%;
}
.img__1{
    position: absolute;
    left: 32%;
}
.img__2{
    position: absolute;
    top: 62%;
    left: 15%;
}
.modal-box{
    font-family: DINRoundOT;
    font-size: 2.5rem !important;
    font-weight: 700;
    line-height: 3.375rem;
    text-align: center;
    color: #285929;
    opacity: 0.8;
    text-transform: uppercase;
    padding: 1.25rem 3.063rem;
    position: absolute;
    width: 23.875rem;
    height: 6.191rem;
    

    background: #FFFFFF;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
}

.box__1{
    left: 10.625rem;
    top: 10.75rem;
}

.box__2{
    left: 10.625rem;
    top: 18.25rem;
}

.sp_int__2{
    font-family: 'DINRoundOT';
    font-weight: bolder;
    font-size: 1.75rem !important;
    line-height: 2.375rem;
    text-align: center;
    color: #FFFFFF;
    

    position: absolute;
    
    width: 17.76rem;
    height: 5rem;
    background: #DB320D;
    box-shadow: 0px 12px 30px rgba(0, 0, 0, 0.1);
    border-radius: 24px;
    border: 2px solid #df5435;

    left: 29%;
    bottom: 5%;
}
.sp_int__2:hover{
    background-color: #df5435;
}
.modal-svg{
    width: 100%;
}
@media screen and (max-width: 1443px) and (min-width: 920px) {
    *{
        font-size:15px !important;
    }
}
@media screen and (max-width: 1919px) and (min-width: 1444px) {
    *{
        font-size:17px !important;
    }
}
@media screen and (min-width: 1920px) {
    *{
        font-size:20px !important;
    }
}
